img/UV/
img/UV/*
img/SKA/
img/SKA/*

logo.png

scenarios/UV.scibot
scenarios/SKA.scibot

scenarioWriters/ScenarioWriterUV.py
scenarioWriters/ScenarioWriterSKA.py

scenarios.zip

*.pyc
*Thumbs.db

runSciBot.log
runSciBot.exe
