img/UV/
img/UV/*
img/SKA/
img/SKA/*
img/DataHunt/
img/DataHunt/*
img/GAIA/
img/GAIA/*

logo.png

scenarios/UV.scibot
scenarios/SKA.scibot
scenarios/Default.scibot
scenarios/DataHunt.scibot
scenarios/GAIA.scibot

scenarioWriters/ScenarioWriterUV.py
scenarioWriters/ScenarioWriterSKA.py
scenarioWriters/ScenarioWriterDataHunt.py
scenarioWriters/ScenarioWriterGAIA.py

scenarios.zip

*.pyc
*Thumbs.db

build/
dist/

runSciBot.spec

runSciBot.log
runSciBot.exe
